main {
  height: 95vh;
}
// main wrapper
.content-wrapper {
  @include grid(1fr, 1fr);
  gap: 1rem;
  height: 100%;
  background: url('/src/img/default-background.jpg') no-repeat center;
  background-size: cover;
  color: $cultured;
  transition: all 100ms ease-in-out;
}
// classes based on the weather and contrast settings
.content-wrapper-clear {
  background: url('/src/img/clear.jpg') no-repeat center;
  background-size: cover;
  @include weatherContrast(clear);
}
.content-wrapper-clouds {
  background: url('/src/img/clouds.jpg') no-repeat center;
  background-size: cover;
  @include weatherContrast(clouds);
}
.content-wrapper-fog {
  background: url('/src/img/fog.jpg') no-repeat center;
  background-size: cover;
  @include weatherContrast(fog);
}
.content-wrapper-drizzle {
  background: url('/src/img/drizzle.jpg') no-repeat center;
  background-size: cover;
  @include weatherContrast(drizzle);
}
.content-wrapper-rain {
  background: url('/src/img/rain.jpg') no-repeat center;
  background-size: cover;
  @include weatherContrast(rain);
}
.content-wrapper-snow {
  background: url('/src/img/snow.jpg') no-repeat center;
  background-size: cover;
  @include weatherContrast(snow);
}
.content-wrapper-thunderstorm {
  background: url('/src/img/thunderstorm.jpg') no-repeat center;
  background-size: cover;
  @include weatherContrast(thunderstorm);
}
.content-wrapper-tornado {
  background: url('/src/img/tornado.jpg') no-repeat center;
  background-size: cover;
  @include weatherContrast(tornado);
}

.current-info {
  grid-area: 1/1/3/3;
  @include grid(1.2fr 0.8fr, 0.25fr repeat(2, 1fr));
  gap: 0.5rem;
  width: 95%;
  height: 100%;
  margin: auto;
}
.value-wrapper-main {
  @include flex(center, center, row);
  width: 100%;
  span {
    font-size: 1.6rem;
  }
  p {
    justify-self: flex-end;
    font-size: 1.8rem;
  }
}
// aside - additional info
.weather-details {
  grid-area: 2/2/4/3;
  @include grid(1fr, repeat(4, 1fr));
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 70%;
  margin: auto;
  text-align: center;
  background: rgba($color: #000000, $alpha: 0.15);
  border-radius: 1.5rem;
  -webkit-box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.35);
}
.temp-feeling,
.humidity,
.rain-chance,
.wind {
  @include grid(0.25fr 1fr, 1fr);
  .icon-wrapper {
    grid-area: 1/1/3/1;
    font-size: 1.8rem;
    height: 100%;
    width: 100%;
    @include flex(center, center, column);
  }
  .icon-wrapper,
  .info-wrapper {
    text-align: center;
    justify-self: center;
    align-self: center;
  }
  .info-wrapper {
    @include flex(space-evenly, center, column);
    height: 100%;
    .title {
      font-size: 1.6rem;
      letter-spacing: 0.1rem;
      color: $gray;
    }
  }
}
.value-wrapper {
  @include flex(center, center, row);
  gap: 0.5rem;
}
// search form
.search-wrapper {
  grid-area: 1/1/2/3;
  align-self: center;
  justify-self: center;
  height: 40%;
  form {
    position: relative;
    height: 100%;
  }
  input {
    border: none;
    outline: none;
    border-bottom: 1px solid $gray;
    height: 100%;
    -webkit-box-shadow: 2px -2px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px -2px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 2px -2px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0.25rem;
    background: rgba($color: #000000, $alpha: 0.2);
    color: $cultured;
    transition: all 80ms ease;
    @include input-placeholder {
      text-align: center;
      font-size: 1.3rem;
    }
  }
  input:active {
    border-bottom: 1px solid $cultured;
  }
  button {
    position: absolute;
    top: 10%;
    right: 2%;
    color: $gray;
    font-size: 1.2rem;
    transition: all 80ms ease;
    i {
      pointer-events: none;
    }
    button:hover {
      color: $cultured;
    }
  }
}
// article main info - weather, date, location
.weather {
  grid-area: 2/1/4/2;
  height: 70%;
  align-self: center;
  @include grid(1fr, repeat(3, 1fr) 0.5fr 0.8fr);
  gap: 0.5rem;
  background: rgba($color: #000000, $alpha: 0.2);
  border-radius: 1.5rem;
}
.desc-wrapper {
  width: 100%;
  height: 100%;
  @include flex(center, center, row);
  .desc {
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-style: italic;
    font-size: 1.5rem;
  }
}
.weather-minmax {
  @include grid(repeat(2, 1fr), 1fr);
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  .weather-min,
  .weather-max {
    @include flex(center, center, column);
    gap: 0.5rem;
  }
  .weather-minmax-title {
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
    color: $gray;
    width: 100%;
    text-align: center;
  }
}
.location-wrapper {
  @include flex(flex-end, center, column);
  margin-top: 1.5rem;
  h1 {
    text-align: center;
    word-wrap: anywhere;
    height: 90%;
    width: 90%;
    margin: auto;
  }
}
.date-wrapper {
  @include flex(center, center, column);
  p {
    font-size: 1.6rem;
    letter-spacing: 0.05rem;
    font-style: italic;
    color: $gray;
  }
}
.temp-wrapper {
  @include flex(center, center, row);
  span {
    margin-left: 3%;
  }
}
.weather-display {
  @include flex(center, center, column);
  svg {
    font-size: 3rem;
  }
  img {
    height: 100%;
    width: 30%;
  }
}
// error message
.error-msg {
  @include grid(1fr, repeat(3, 1fr));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 20%;
  background: rgba(34, 34, 34, 0.85);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.97);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-in-out;
  h2,
  p {
    align-self: center;
    justify-self: center;
  }
  .close {
    color: $cultured;
    position: absolute;
    top: 5%;
    right: 5%;
  }
  .error {
    word-wrap: anywhere;
    text-align: center;
    width: 90%;
    margin: auto;
    color: $gray;
  }
}
.error-msg-active {
  opacity: 1;
  visibility: visible;
}

// forecast
.future-info {
  width: 100vw;
  height: 100%;
  @include flex(center, center, row);
}
.forecast-wrapper {
  @include grid(repeat(5, 1fr), 1fr);
  gap: 0.5rem;
  height: 50%;
  width: 95%;
  margin: auto;
  border-radius: 1rem;
  background: rgba($color: #000000, $alpha: 0.45);
  -webkit-box-shadow: 3px 12px 16px -2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 3px 12px 16px -2px rgba(0, 0, 0, 0.6);
  box-shadow: 3px 12px 16px -2px rgba(0, 0, 0, 0.6);
}
.forecast-info-wrapper {
  @include grid(1fr, repeat(3, 1fr));
  align-items: center;
  justify-items: center;
  width: 90%;
  height: 100%;
  .forecast-title {
    font-size: 1.4rem;
  }
}
// footer
footer {
  height: 5vh;
  width: 100%;
  background: $dark;
  color: $cultured;
  @include flex(center, center, row);
  p,
  span {
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    font-style: italic;
  }
  a {
    color: $cultured;
    font-size: 1.4rem;
    margin-left: 1rem;
  }
  svg {
    transition: all 300ms ease-in-out;
  }
  svg:hover {
    transform: rotate(360deg) scale(1.1);
  }
}
