* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 50%;
  @include mq(sphone) {
    font-size: 30%;
  }
  @include mq(tablet) {
    font-size: 70.5%;
  }
  @include mq(tablet-wide) {
    font-size: 78%;
  }
  @include mq(desktop-wide) {
    font-size: 90%;
  }
  @include mq(fourK) {
    font-size: 150%;
  }
}
body {
  font-family: 'Montserrat', sans-serif;
}
p,
span,
label,
button,
input,
select {
  font-size: 1.6rem;
}
label {
  font-family: 'Lora', serif;
}
button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
li {
  list-style: none;
  font-size: 1.6rem;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 2.6rem;
  font-family: 'Raleway', sans-serif;
}
